@import url('common.css');

.container {
    width: var(--page-width);
    max-width: 100%;
    background: var(--white);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

header h1 {
    color: var(--red);
    text-align: center;
    font-size: var(--font--large);
}

.purchase-history ul {
    list-style-type: none;
    padding: 0;
    font-size: var(--font--ssmall);
    margin: 10px 0;
}

.purchase-history li {
    margin: 5px 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.purchase-history li button {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.purchase-history li:hover {
    background-color: var(--lightgray);
}

#barcode-section {
    margin-top: 20px;
    padding: 20px;
    background: var(--lightgray);
    border-radius: 8px;
    text-align: center;
}

#selected-item, #selected-order {
    font-size: var(--font--regular);
    margin: 10px 0;
    font-weight: bold;
}

svg {
    margin-top: 10px;
}

